<section>
    <div class="container-lg">
        <div class="row justify-content-md-center">
            <div class="col-lg-5 col-md-6">
                <div class="create">
                    <div class="card-body">
                        <h2 class="card-title">Create Password</h2>
                        <form action="" (ngSubmit)="onSubmit()">
                            <div class=" dx-fieldset row g-3 ">
                                <div class="col-md-12 ">
                                    <div class="dx-field">
                                        <label class="form-label">Email</label>
                                        <dx-text-box id="email" [(value)]="email" [showClearButton]="true" placeholder="Enter email">
                                            <dx-validator>
                                                <dxi-validation-rule type="required" message="email harus di isi"></dxi-validation-rule>
                                                <dxi-validation-rule type="email" message="Email is invalid"></dxi-validation-rule>
                                                <dxi-validation-rule type="async" [validationCallback]="validasi">
                                                </dxi-validation-rule>
                                            </dx-validator>
                                        </dx-text-box>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="dx-field">
                                        <label class="form-label">Password</label>
                                        <dx-text-box id="Password" mode="password" [(value)]="password" [showClearButton]="true" placeholder="Enter Password">
                                            <dx-validator>
                                                <dxi-validation-rule type="required" message="Password harus di isi"></dxi-validation-rule>
                                                <dxi-validation-rule type="async" [validationCallback]="validasi">
                                                </dxi-validation-rule>
                                            </dx-validator>
                                        </dx-text-box>
                                    </div>
                                </div>
                                <div class="d-grid gap-2 ">
                                    <button class="btn btn-create " type="submit ">
                                        <span *ngIf="spin " class="spinner-border spinner-border-sm " role="status " aria-hidden="true "></span>
                                        Save
                                      </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>